<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>v-for</title>
    </head>
    <body>

        <div id="example">
            <input v-model="message" placeholder="edit me">
            <p>Message is: {{ message }}</p>
        </div>

        <div id="example-2">
            <span>Multiline message is:</span>
            <p style="white-space: pre-line;">{{ message2 }}</p>
            <br>
            <textarea v-model="message2" placeholder="add multiple lines"></textarea>
        </div>



        <!-- 引入 vue.js -->
        <script src="../vue.js"></script>
        <script>

            var vm = new Vue ({
                el: '#example',
                data: {
                    message: ''
                }
            })

            var vm = new Vue ({
                el: '#example-2',
                data: {
                    message2: ''
                }
            })


        </script>

    </body>
</html>
